* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: min(80%, 1192px);
    margin: 0 auto;
    padding: 5rem 0;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.hero {
    background: #F3EED9;
    /* height: 80vh; */
    text-align: center;
    /* width: 100%; */
    padding: 5rem 0;
}

.hero--text h1 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5rem;

}

/* Add line height property if there is too much gap between lines of text */

.hero--text p {
    color: #824936;
    font-size: 3.75rem;
    font-family: 'Playfair Display', 'sans-serif';
    margin: 0;
    padding: 0 1rem;

}

.agenda--text {
    text-align: center;
    font-family: 'Playfair Display', 'sans-serif';
    font-size: 2.25rem;
    color: #824936;
}

.section--text {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.3rem;
    margin: 2rem 0;
}

.article-first {
    background: #222C2A;
    color: #fff;
}

.article--text--heading {
    font-size: 2.25rem;
    font-family: 'Playfair Display', 'sans-serif';
}

.article--text--paragraph {
    font-size: 1.3rem;
    font-family: 'Roboto', 'sans-serif';
}

.article-second {
    background: #824936;
    color: #fff;
}

.article-img-01 {
    width: 35%;
    align-self: center;
}

.article-img-02 {
    width: 35%;
    align-self: center;
}
